In [1]:
import pandas as pd

In [2]:
percorso_dataset = r"C:\Users\Alessandro\Desktop\Cartelle\Mie\Programmi personali in Python\Kaggle\Bitcoin Historical Dataset\bitstampUSD_1-min_data_2012-01-01_to_2021-03-31\bitstampUSD_1-min_data_2012-01-01_to_2021-03-31.csv"

In [3]:
df = pd.read_csv(percorso_dataset, sep=",")
df

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
0,1325317920,4.39,4.39,4.39,4.39,0.455581,2.000000,4.390000
1,1325317980,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1325318040,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1325318100,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1325318160,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
4857372,1617148560,58714.31,58714.31,58686.00,58686.00,1.384487,81259.372187,58692.753339
4857373,1617148620,58683.97,58693.43,58683.97,58685.81,7.294848,428158.146640,58693.226508
4857374,1617148680,58693.43,58723.84,58693.43,58723.84,1.705682,100117.070370,58696.198496
4857375,1617148740,58742.18,58770.38,58742.18,58760.59,0.720415,42332.958633,58761.866202
4857376,1617148800,58767.75,58778.18,58755.97,58778.18,2.712831,159417.751000,58764.349363

In [4]:
df.isna().sum()

Timestamp                  0
Open                 1243608
High                 1243608
Low                  1243608
Close                1243608
Volume_(BTC)         1243608
Volume_(Currency)    1243608
Weighted_Price       1243608
dtype: int64

In [5]:
df_senza_nan = df.dropna(inplace=False)
df_senza_nan

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
0,1325317920,4.39,4.39,4.39,4.39,0.455581,2.000000,4.390000
478,1325346600,4.39,4.39,4.39,4.39,48.000000,210.720000,4.390000
547,1325350740,4.50,4.57,4.50,4.57,37.862297,171.380338,4.526411
548,1325350800,4.58,4.58,4.58,4.58,9.000000,41.220000,4.580000
1224,1325391360,4.58,4.58,4.58,4.58,1.502000,6.879160,4.580000
...,...,...,...,...,...,...,...,...
4857372,1617148560,58714.31,58714.31,58686.00,58686.00,1.384487,81259.372187,58692.753339
4857373,1617148620,58683.97,58693.43,58683.97,58685.81,7.294848,428158.146640,58693.226508
4857374,1617148680,58693.43,58723.84,58693.43,58723.84,1.705682,100117.070370,58696.198496
4857375,1617148740,58742.18,58770.38,58742.18,58760.59,0.720415,42332.958633,58761.866202
4857376,1617148800,58767.75,58778.18,58755.97,58778.18,2.712831,159417.751000,58764.349363

In [6]:
# Ricavo la porzione di dataframe con il numero massimo di indici consecutivi

start = df_senza_nan.index[0]
i_start = 0
max_len = 0
max_range = (start, start)

for i in range(1, len(df_senza_nan.index)):
    if df_senza_nan.index[i] != df_senza_nan.index[i-1] + 1:
        if i - i_start > max_len:
            max_len = i - i_start
            max_range = (start, df_senza_nan.index[i-1])
        start = df_senza_nan.index[i]
        i_start = i

# Controlla l'ultimo intervallo
if len(df_senza_nan) - start > max_len:
    max_range = (start, df_senza_nan.index[-1])

# Stampa la porzione del DataFrame con il maggior numero di indici consecutivi
df_senza_nan.loc[max_range[0]:max_range[1]]

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
4721386,1608989400,24853.29,24873.03,24853.29,24866.95,0.774948,19274.947382,24872.561655
4721387,1608989460,24853.18,24853.18,24844.56,24844.56,1.407936,34988.930021,24851.221769
4721388,1608989520,24831.02,24851.43,24825.33,24850.47,4.451809,110594.033720,24842.494462
4721389,1608989580,24850.80,24872.46,24850.80,24862.89,0.685899,17055.780582,24866.321874
4721390,1608989640,24861.03,24876.43,24855.15,24858.72,0.571673,14212.737113,24861.667116
...,...,...,...,...,...,...,...,...
4750882,1610759160,37353.17,37416.93,37353.17,37412.73,2.570388,96108.008605,37390.460664
4750883,1610759220,37420.27,37462.33,37420.27,37428.80,2.471895,92577.014190,37451.838192
4750884,1610759280,37462.33,37462.33,37438.64,37459.04,0.450548,16877.381897,37459.664734
4750885,1610759340,37460.16,37482.95,37460.16,37482.95,8.561663,320772.833740,37466.181234
4750886,1610759400,37481.53,37483.19,37424.55,37462.41,2.597660,97296.880536,37455.582976

In [7]:
df_prova = pd.DataFrame({'A': range(10)}, index=[2, 3, 5, 7, 8, 9, 13, 14, 18, 22])